/* CSS files add styling rules to your content */

body {
     
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    background-color: slategrey;
    color: white;
  }
  
  h1 {
    font-family: verdana, arial, sans-serif;
    
  }
.hidden {
  display: none;
}



button {
  padding: 15px;
border-radius: 10px;
}
  #gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

#button1 {
    background: lightgreen;
}
#button2 {
    background: lightblue ;
}
#button3 {
    background: pink;
}
#button4 {
    background: lightyellow;
}
#button5 {
    background: white;
}



#button1:active, #button1.lit{
    background:green;
    background-image: url(https://cdn.glitch.com/206e9cc9-6855-4be8-979e-17434e9f9da4%2Fcat1.jfif?v=1616634078910)
}
#button2:active, #button2.lit {
    background:blue;
  background-image: url(https://cdn.glitch.com/206e9cc9-6855-4be8-979e-17434e9f9da4%2Fcat1.jfif?v=1616634078910)
}
#button3:active, #button3.lit{
    background:red;
  background-image: url(https://cdn.glitch.com/206e9cc9-6855-4be8-979e-17434e9f9da4%2Fcat1.jfif?v=1616634078910)
}
#button4:active, #button4.lit {
    background:yellow;
  background-image: url(https://cdn.glitch.com/206e9cc9-6855-4be8-979e-17434e9f9da4%2Fcat1.jfif?v=1616634078910)
}
#button5:active, #button5.lit {
    background:gray;
  background-image: url(https://cdn.glitch.com/206e9cc9-6855-4be8-979e-17434e9f9da4%2Fcat1.jfif?v=1616634078910)
}


